.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &Form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
        margin-bottom: 20px;
    }

    h1 {
        margin: 40px 0;
    }
}
.switchBlock {
    display: flex;
    gap: 20px;
    
}