@import '../../../style/constants.scss';

.category {
    display: flex;
    padding-left: 40px;
    .categories div {
        display: inline-block;
        background: none;
        border: 1px solid $color_black;
        border-radius: 50px;
        padding: 10px 20px;
        margin-bottom: 25px;
        margin-right: 20px;
        cursor: pointer;
        transition: all 500ms ease;
    
        &:hover {
            border-color: $color_yellow;
            background: $color_yellow;
            transform: scale(1.1);
            color: $color_white;
        }
    }
}