@import '../../../style/constants.scss';

.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .myModalContent {
        background: $color_white;
        border-radius: 10px;
        padding: 20px;
        width: 450px;
        min-height: 300px;
        padding: 30px;
        z-index: 5;
    }
}