@import '../../../../style/constants.scss';

.button {
    background: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: $color_black solid 1px;
    transition: 300ms;
    cursor: pointer;
    &:hover {
        background: $color_yellow;
        color: $color_white;
        border : $color_yellow solid 1px;
        transform: scale(1.05);
    }
}