@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import '../style/constants.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

body {
    // background: rgb(5, 117, 102);
    background: $color_yellow;
    position: relative;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.App {
    width: 1200px;
    min-height: 92vh;
    background: $color_white;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0;
}

