@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.header {
  padding-bottom: 20px;

  .headerTop {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    img {
      width: 24px;
      cursor: pointer;
    }

    p {
      font-size: 12px;
    }
  }

  .inf {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffbd43;
    font-size: 14px;
    cursor: default;
  
    &Content {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .logo {
    transition: 300ms;

    a {
      text-decoration: none;
      color: #000;
      font-family: 'Tilt Neon', cursive;
      font-size: 40px;
      user-select: none;
    }

    &.active {
      display: none;
    }
  }

  .topMenu {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    height: 55px;

    .search {
      display: flex;
      align-items: center;
      margin-right: 150px;
      cursor: pointer;

      img {
        margin-right: -35px;
      }

      input {
        width: 100px;
        padding: 10px 10px 10px 45px;
        background: none;
        outline: none;
        border: none;
        transition: 300ms;
        z-index: 2;
        cursor: pointer;

        &::placeholder {
          color: #000;
          font-weight: 600;
        }

        &:focus {
          width: 400px;
          border: #000 solid 1px;
          border-radius: 10px;
          cursor: auto;
        }
      }

      .close {
        z-index: 3;

        &.active{
          visibility: hidden;
        }

        img {
          margin-left: -30px;
          height: 15px;
          max-width: 16px;
          z-index: 4;
        }
      }
    }

    .userLogoBlock {
      margin-right: 20px;
      
    }

    img:nth-child(4) {
      margin-right: 15px;
    }
  }

  .headerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    gap: 80px;
    width: 1100px;
    border-bottom: 1px solid #ffbd43;

    a {
      text-decoration: none;
      color: #000;
      transition: 300ms;

      &:hover {
        text-decoration: none;
        color: #535353;
      }
    }
  }

  .menuButtons {
    display: flex;
    gap: 10px;

    img {
      transition: 300ms;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .basket {
    position: absolute;
    margin-left: 850px;
    margin-top: 110px;
    background: aliceblue;
    border: 1px #000 solid;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 5;
    gap: 10px;
    text-align: center;

    .closeButton {
        cursor: pointer;
        margin-left: 295px;
        margin-top: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #000;
        background: aliceblue;

    }
    
    .closeButton img {
        width: 15px;
        height: 15px;
    }
    
    .summa {
        margin-bottom: 20px;
    }
  }
}


@media (max-width: 1200px) {
  .header {
    .inf {
      flex-direction: column;
      align-items: start;
    }

    .logo {
      a {
        font-size: 35px;
        margin-right: -35px;
      }
    }

    .topMenu {
      .search {
        margin-right: 20px;
      }
    }

    .headerBottom {
      width: 800px;
    }

    .basket {
        margin-left: 520px;
        margin-top: 70px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .topMenu {
      .search {
        margin-right: 10px;

        input {
          &:focus {
            width: 250px;
          }
        }
      }
    }
  
    .headerBottom {
      width: 600px;
      gap: 50px;

      a {
        font-size: 14px;
      }
    }
  
    .basket {
      margin-left: 360px;
      margin-top: 70px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0;
  
    .headerTop {
      display: flex;
      justify-content: space-between;
      padding: 0 0 0 10px;
      border-bottom: 1px solid #ffbd43;
  
      img {
        width: 15px;
        cursor: pointer;
      }
  
      p {
        font-size: 12px;
      }
    }
    .inf {
      display: none;
    }

    .topMenu {
      .search {
        margin-right: 0;
        margin-left: 30px;
        input {
          width: 0px;
          &::placeholder {
            visibility: hidden;
          }
  
          &:focus {
            margin: 0 auto;
            width: 78vw;
          }
        }
      }
  
      .userLogoBlock {
        display: none;
      }
    }
  
    .headerBottom {
      display: none;
    }
  
    .menuButtons {
      display: none;
    }
  
    .basket {
      display: none;
    }
  }
}

@media (max-width: 320px) {
.header {
    padding: 0;

    .topMenu {
      .search {
        margin-left: 30px;
        input {
  
          &:focus {
            margin: 0 auto;
            width: 70vw;
          }
        }
      }
    }
  }
}