@import '../../../style/constants.scss';

.formInput {
    padding: 8px 20px;
    outline: none;
    border: $color_black solid 1px;
    border-radius: 20px;
    background: none;
    transition: 300ms;

    &:focus {
        transform: scale(1.05);
    }

    &::placeholder {
        text-align: center;
        color: $color_black;

    }
}