@import '../../style/constants.scss';

.paymentForm {
    

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    form {
        display: flex;
        flex-direction: column;
        input {
            
        }

        label {
            margin: 10px 0 10px 5px;
        }

        .flex {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .inputBlock {
            display: flex;
            flex-direction: column;

            input {
                width: 100px;
            }
        }
    }
}