.image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    margin-right: 10px;
  }
  
  .order {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    width: 280px;
    position: relative;
  
    .contentBlock {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: left;
    }
  
    .deliteButton {
      position: absolute;
      right: 0px;
      top: 30px;
  
      img {
        width: 20px;
        height: 20px;
      }
    }
  }