@import '../../../style/constants.scss';

.comment {
    padding: 10px;
    background: $color_ligth-yellow;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .commentTitle {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      img {
        width: 24px;
        height: 24px;
        object-fit: cover;

        &:first-child {
          border-radius: 50%;
        }
      }
    }

    .contetn {
      .commentDesc {
        margin-bottom: 10px;
      }
    }
  

}