@import '../../style/constants.scss';

.message {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 70vh;
}

.paymentPage {
    display: flex;

    img {
        cursor: pointer;
    }

    .modalMessage {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 20px;
        padding: 40px 20px;
        background: $color_white;
        border-radius: 10px;

        .inf {

            h2 {
                margin-bottom: 10px;
            }

            ul {

                padding: 10px;
                li {
                    // padding-left: 10px;
                    list-style-type: none;
                }
            }

        }

        .buttonBlock {
            display: flex;
            gap: 20px;
        }
    }

    .shopingBLock {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        width: 550px;

        .orderBlock {
            max-height: 250px;
            padding: 20px;

            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;               /* ширина scrollbar */
            }
            
            &::-webkit-scrollbar-track {
            background: aliceblue;        /* цвет дорожки */
            }
        
            &::-webkit-scrollbar-thumb {
            background-color: rgb(117, 117, 117);    /* цвет плашки */
            border-radius: 5px;       /* закругления плашки */
            }
        }

        .summa {
            
        }
    }

    .paymentBlock {
        margin-left: 100px;
    }
}

